.product{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;
  }
  .product img{
    width: 80%;
  }