.app{
  padding: 20px;
}

.navigation {
  text-align: center;

}

.navigation a,
.navigation__link{
  background-color: white;
  font-size: 14px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding:5px  10px;
  text-decoration: none;
  color: blue;
}

.navigation__link{
border: 1px solid grey;
cursor: pointer;
margin: 10px;}

.navigation a.active{
  text-decoration: underline;
  color: red;
}

.page{
  text-align: center;
}

